body, a {
  font-family: Helvetica, freesans;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
}



/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: fixed;
  z-index: 2;
  height: 50px;
  border-bottom: 1px solid seashell;
  padding: 10px 10px;
  width: 100%;
  margin-right: 10px;
  background-color: black;
}
header img {
  height: 50px;
  opacity: 0.9;
}
header nav span{
  padding: 0 10px;
  text-decoration: underline;
}


/* CONTENT */
.content {
  padding-top: 70px;
  display:flex;
  position: relative;
  flex-direction: column;
  z-index: 1;
}
.mission {

  background-color: black;
  height: 150px;
  width: 1200px;
  text-align: center;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
  height: 700px;
  background-image: url(../resources/images/mission-background.jpg);

}
.locations .locationheader h2 {
  margin: 0 auto;
}
.locationheader {
  text-align: center;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
}



}
.featured {
  margin: 0 auto;
  width: 1000px;
  display:flex;
  justify-content: center;
  flex-direction: column;
}
.title {
  text-align: center;
}
.teas p {
  text-align: center;

}
.downtown, .east, .oakdale {
  width: 300px;
  height: 300px;
  background-color: black;
  text-align: center;
  margin:15px 0px;

}
.teas1 img, .teas2 img {
  height: 200px;
  width: 300px;
  padding: 10px 20px 0px 20px;
}
.teas1, .teas2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}
.teas1 p, .teas2 p {
  padding: 8px 0px;
  margin: 0 auto;
}


.locations {
  flex-direction: column;
  background-image: url(../resources/images/locations-background.jpg);
  margin: 0 auto;
  height: 600px;
  width: 1200px;
  display: flex;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 0 110px;

}

/* FOOTER */
footer {
  height: 200px;
  text-align: center;

}
footer p {
  text-align: left;
}
